@model ASP.NET_Projekt_Wypozyczalnia.Models.Client

@{
    ViewData["Title"] = "Usuń klienta";
}

<h1>Czy na pewno chcesz usunąć tego klienta?</h1>
<hr />
<dl class="row">
    <dt class="col-sm-3">Imię</dt>
    <dd class="col-sm-9">@Model.FirstName</dd>

    <dt class="col-sm-3">Nazwisko</dt>
    <dd class="col-sm-9">@Model.LastName</dd>

    <dt class="col-sm-3">Email</dt>
    <dd class="col-sm-9">@Model.Email</dd>

    <dt class="col-sm-3">Telefon</dt>
    <dd class="col-sm-9">@Model.PhoneNumber</dd>

    <dt class="col-sm-3">Dokument</dt>
    <dd class="col-sm-9">@Model.DocumentType - @Model.DocumentNumber</dd>

    <dt class="col-sm-3">Adres</dt>
    <dd class="col-sm-9">@Model.Address</dd>
</dl>

<form asp-action="Delete">
    <input type="hidden" asp-for="ClientID" />
    <button type="submit" class="btn btn-danger">Usuń</button>
    <a asp-action="Index" class="btn btn-secondary ms-2">Anuluj</a>
</form>
